/* PS-STRENGTH ================ */
.pwStrength-bar {
  display: flex;
  flex-direction: row;
  height: 6px;
  margin-top: 6px;
  width: 100%;
  justify-content: space-between;
}

.pwStrength-box {
	width: 10%;
}

.pwStrength-box1, .pwStrength-box2, .pwStrength-box3 {
	background-color: #EC2939;
}

.pwStrength-box4, .pwStrength-box5, .pwStrength-box6 {
	background-color: #EE9E26;
}

.pwStrength-box7, .pwStrength-box8, .pwStrength-box9 {
	background-color: #006A52;
}
